argon2-cffi==19.1.0
astroid==2.1.0
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
construct==2.9.45
coverage==4.5.2
docutils==0.14
fancycompleter==0.8
flit==1.2.1
idna==2.8
isort==4.3.4
lazy-object-proxy==1.3.1
lxml==4.3.0
mccabe==0.6.1
more-itertools==5.0.0
pdbpp==0.9.3
pluggy==0.8.1
py==1.7.0
pycparser==2.19
pycryptodome==3.7.3
Pygments==2.3.1
pykeepass==3.0.2
pylint==2.2.2
pytest==4.1.1
pytest-cov==2.6.1
python-dateutil==2.7.5
pytoml==0.1.20
requests==2.21.0
rope==0.11.0
six==1.12.0
typed-ast==1.2.0
urllib3==1.24.1
wmctrl==0.3
wrapt==1.11.1