appdirs==1.4.3
argon2-cffi==19.1.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
black==19.3b0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
construct==2.9.45
coverage==4.5.3
docutils==0.14
fancycompleter==0.8
flit==1.3
future==0.17.1
idna==2.8
isort==4.3.17
lazy-object-proxy==1.3.1
lxml==4.3.3
mccabe==0.6.1
mock==2.0.0
more-itertools==6.0.0
pbr==5.1.3
pdbpp==0.10.0
pluggy==0.9.0
py==1.8.0
pycparser==2.19
pycryptodome==3.8.1
Pygments==2.3.1
pykeepass==3.0.3
pylint==2.3.1
pytest==4.4.1
pytest-cov==2.6.1
python-dateutil==2.8.0
pytoml==0.1.20
requests==2.21.0
rope==0.14.0
six==1.12.0
toml==0.10.0
typed-ast==1.3.4
urllib3==1.24.2
wmctrl==0.3
wrapt==1.11.1
