argon2-cffi==19.1.0
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
construct==2.9.45
idna==2.8
lxml==4.3.0
more-itertools==5.0.0
pluggy==0.8.1
py==1.7.0
pycparser==2.19
pycryptodome==3.7.3
pykeepass==3.0.2
pytest==4.1.1
python-dateutil==2.7.5
requests==2.21.0
six==1.12.0
urllib3==1.24.1
